.hero-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: var(--section-color-primary);
  background: #012e4f;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  position: relative;
  border-bottom: 10px solid #4bffa5;
}

.hero-section .hero-text-container,
.hero-section .hero-image-container,
.hero-section .scroll-down-icon-container {
  position: relative;
  z-index: 1 !important;
  background-color: transparent;
}

.hero-text-container,
.hero-image-container,
.scroll-down-icon-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2.5s ease-in-out;
}

.hero-image-container {
  padding: 50px 0px 20px 0px;
}

.hero-image-container img {
  border-radius: 365px;
  background: #4bffa5;
  width: 200px;
}

.hero-information-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.hero-text-container {
  flex-flow: column;
  justify-content: flex-end;
}

.scroll-down-icon-container {
  width: 100%;
  height: auto;
  align-items: flex-start;
}

.hero-icons-container {
  width: 20%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 50px 0px 20px 0px;
}

.hero-information-wrapper h1 {
  font-weight: var(--heading-font-weight);
  font-family: var(--heading-font-family);
  padding-bottom: 10px;
  font-size: 30px;
}

.hero-information-wrapper p {
  padding-bottom: 20px;
  text-align: center;
}

.Typewriter span {
  font-family: var(--text-font-family);
}

.custom-link-light {
  color: var(--color-light);
}

.custom-link-light:hover {
  transition: 0.2s ease;
  background-color: rgba(100, 255, 218, 0.1);
  outline: none;
}

.transition-link-light {
  transition: 2s ease;
}

@media screen and (max-width: 1000px) {
  .hero-icons-container {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .hero-icons-container {
    width: 80%;
  }
}
