.about {
  width: 100%;
  height: auto;
  color: var(--section-color-secondary);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: var(--section-padding);
  background: var(--section-background-color-secondary);
}
.about .about-heading-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px 20px 0px;
  font-weight: var(--heading-font-weight);
}

.about-paragraph-container {
  width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0px 20px 0px;
}

.about-paragraph-container p {
  line-height: 2;
  padding: 5px 0px 5px 0px;
}

.about-facts-container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.about-fact {
  text-align: center;
  padding-top: 20px;
}

.about-fact h3 {
  color: var(--heading-color-thirdly);
  letter-spacing: 2;
}

.about-fact h4 {
  padding-top: 5px;
}

@media screen and (max-width: 1000px) {
  .about-paragraph-container {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .about-facts-container {
    flex-flow: row wrap;
  }

  .about-fact {
    width: 49%;
  }
}
