.particles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  position: absolute;
  animation: fadeIn 2.5s ease-in;
}

canvas {
  position: relative !important;
}
