nav {
  width: 100%;
  justify-content: center;
  font-family: var(--heading-font-family);
  position: sticky;
  z-index: 1001;
  top: 0;
  background-color: var(--nav-background-color-primary);
  opacity: 0.95;
  transition: all 0.3s ease-in-out;
}

.nav-colored {
  display: flex;
  align-items: center;
  height: var(--nav-height-secondary);
  box-shadow: var(--nav-box-shadow);
  opacity: 0.95;
  transition: all 0.3s ease-in-out;
  background-color: var(--nav-background-color-secondary);
  border-bottom: none;
  z-index: 1001;
}

nav,
.nav-items-container {
  display: flex;
  height: var(--nav-height-primary);
}

.nav-items-container {
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.nav-items-container h2 a {
  font-weight: var(--heading-font-weight);
  color: var(--heading-color-primary);
  text-decoration: none;
}

.nav-items-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  list-style-type: none;
}

.nav-items-container ul li a {
  font-size: 15px;
  font-weight: var(--text-font-weight);
  text-decoration: none;
  color: var(--heading-color-primary);
  animation: fadeIn 2.5s ease-in-out;
}

.nav-items-container ul li a:hover {
  color: var(--section-background-color-thirdly);
}

.nav-items-container a img {
  width: 100px;
  animation: fadeIn 2.5s ease-in-out;
}

.mobile-icon {
  display: none;
  animation: fadeIn 2.5s ease-in-out;
}

@media (max-width: 1200px) and (min-width: 1001px) {
  .nav-items-container ul {
    width: 55%;
  }
}

@media (max-width: 1000px) {
  nav {
    width: 100%;
  }
  .nav-items-container ul {
    width: 55%;
  }
}

@media (max-width: 767px) {
  .nav-items-container ul {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    text-align: center;
    top: 70px;
    width: 100%;
    left: 0;
    background: var(--nav-background-color-primary);
    box-shadow: var(--nav-box-shadow);
  }

  .nav-items-container ul li:last-child {
    border-bottom: none !important;
  }

  nav {
    width: 100%;
    border-bottom: none;
  }

  .nav-items-container img {
    width: 35px;
  }

  .nav-items-container ul li {
    padding: 10px 0px 10px 0px;
    width: 100%;
    text-align: left;
  }

  .nav-items-container ul li a {
    animation: none;
    display: inline-block;
    width: 100%;
    padding-left: 5%;
  }

  .nav-items-container ul li:nth-child(even),
  .nav-items-container ul li:nth-child(odd) {
    border-bottom: 1px solid white;
  }

  .nav-items-container ul:last-child {
    border-bottom: none;
  }

  .mobile-icon {
    display: flex;
  }

  .show {
    display: flex !important;
  }

  .hide {
    display: none !important;
  }
}
